:root {
    --main-text-color: #434455;
    --main-title-color: #2E2F42;
    --main-background-color: #ffffff;
    --secondary-background-color: #f4f4fd;
    --hover-color: #404BBF;
    --footer-text-color: #E7E9FC;
    --first-part-logo-color: #4D5AE5;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header styles */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-title-color);
}

.logo span {
    color: var(--first-part-logo-color);
}

.nav-title {
    font-weight: 500;
    color: var(--main-title-color);
}

.contacts {
    color: inherit;
}

.nav-title:hover,
.nav-title:focus,
.nav-title:active,
.contacts:hover,
.contacts:focus,
.contacts:active,
.current {
    color: var(--hover-color);
}

.address {
    font-style: normal;
}
/* Hero section  */
.hero,
footer {
    background-color: var(--main-title-color);
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-background-color);
}

.order-service {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    color: var(--main-background-color);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    
}

.order-service:hover, 
.order-service:focus,
.order-service:active   
 {
    background-color: var(--hover-color);
}

/* Benefits section  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-title,
.team-member-title,
.example-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-title-color);
}

/* "What are we doing" section  */

.doing-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-title-color);
}

/* Team section  */

.team {
    background-color: var(--secondary-background-color);
}

/* Footer  */
.footer-logo {
    line-height: 1.17;
    color: var(--secondary-background-color);
}

.footer-text {
    font-size: 16px;
    color: var(--footer-text-color);
}

/* PORTFOLIO PAGE  */

.filter-btn {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--first-part-logo-color);
    background-color: var(--secondary-background-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    color: var(--main-background-color);
    background-color: var(--hover-color);
}


